@charset "ISO-8859-1";
* {
	box-sizing: border-box;
}

/* Default settings */
html {
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}

body {
	background-color: LightGray;
}

footer {
	float: left;
	display: block;
	text-align: center;
	width: 100%;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	
	background-color: Gray;
}

footer.inline {
	display: inline-block;
}

footer.button {
	border: none;
	
	color: white;
	background-color: SlateBlue;
	cursor: pointer;
}