@charset "ISO-8859-1";
.display_before {
	
	margin: 0px;
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	
	border-radius: 50%;
	transition: all 0.2s ease-out;
}
.display_before_border {
	
	margin: 0px;
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	position: absolute;
	animation-name: spin;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.text_blink_cursor {
	float: left;
	box-sizing: border-box;
	display: flex;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	opacity: 0;
	letter-spacing: .15em;
	
	transition: all 0.2s ease-out;
}
.display_after {
	margin: 0px;
	opacity: 0;
	transition:inherit;
}

.pre_loaded_l.text_blink_cursor { opacity: 1; }

.loaded_l.display_before {
	margin: 0px;
	opacity: 0;
	display: none;
}

.loaded_l.display_after {
	margin: 0px;
	opacity: 1;
}

@keyframes spin {
	0% {
		border-top: 12px solid #009688; /* Top border color is Teal */
		border-bottom: 12px solid #87CEEB; /* Bottom border color is light-blue */
		border-left: 12px solid #616161; /* Left border color is Dark-Gray */
		border-right: 12px solid #4CAF50; /* Right border color is Green */
	}
	25% { 
		border-top: 12px solid #616161; /* Top border color is Dark-Gray */
		border-bottom: 12px solid #4CAF50; /* Bottom border color is Green */
		border-left: 12px solid #87CEEB; /* Left border color is light-blue */
		border-right: 12px solid #009688; /* Right border color is Teal */
	}
	50% { 
		border-top: 12px solid #87CEEB; /* Top border color is light-blue */
		border-bottom: 12px solid #009688; /* Bottom border color is Teal */
		border-left: 12px solid #4CAF50; /* Left border color is Green */
		border-right: 12px solid #616161; /* Right border color is Dark-Gray */
	}
	75% { 
		border-top: 12px solid #4CAF50; /* Top border color is Green */
		border-bottom: 12px solid #616161; /* Bottom border color is Dark-Gray */
		border-left: 12px solid #009688; /* Left border color is Teal */
		border-right: 12px solid #87CEEB; /* Right border color is light-blue */
	}
	100% {
		border-top: 12px solid #009688; /* Top border color is Teal */
		border-bottom: 12px solid #87CEEB; /* Bottom border color is light-blue */
		border-left: 12px solid #616161; /* Left border color is Dark-Gray */
		border-right: 12px solid #4CAF50; /* Right border color is Green */
	}
}