h1 {
	font-size: 25px;
}
h2 {
	font-size: 22px;
}

.spacer {
	height: 50px;
}

.nav {
	padding-top: 20px; /* Place content 20px from the top */
}
.nav li {
	font-size: 18px;
}
.nav-drop li {
	font-size: 16px;
}

.footer {
	font-size: 12px;
}
.footer a {
	font-size: 16px;
	width: 50px;
}