/* Default column settings */
[class*="col-"] {
	width: 100%;
	float: left;
	padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

h1 {
	display: block;
	padding: 0% 1% 0% 1%;
	
	text-decoration: none;
	/* Bottom border color is Dark-Gray */
	border-bottom: 12px solid #616161;
	/* Text color is Black */
	color: #000;
	font-size: 35px;
	transition: 0.2s;
}
h2 {
	display: inline-block;
	padding: 0% 1.5% 0% 1%;
	
	text-decoration: none;
	/* Bottom border color is Teal */
	border-bottom: 6px solid #009688;
	/* Text color is Black */
	color: #000;
	font-size: 30px;
	transition: 0.2s;
}

.sidebar {
	float: left;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.nav {
	padding-top: 60px; /* Place content 60px from the top */
}
.nav li {
	display: block;
	padding: 2% 2% 2% 2%;
	
	text-decoration: none;
	/* Right border color is Dark-Gray */
	border-right: 12px solid #616161;
	/* Text color is Black */
	color: #000;
	font-size: 25px;
	transition: 0.2s;
}
.nav-drop li {
	padding: 2% 2% 2% 15%;
	font-size: 20px;
}

#container_content {
	height: 75vh;
}

.footer {
	float: left;
	display: block;
	text-align: center;
	width: 100%;
	font-size: 15px;
	position: fixed;
	bottom: 0;
	
	background-color: #9E9E9E;
}
.footer .inline {
	display: inline-block;
}
.footer a {
	
	display: inline-block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	font-size: 20px;
	
	width: 75px;
	
	color: #FFF;
}