@charset "ISO-8859-1";
* {
	box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
	overflow: scroll;
}
body {
	margin: 0 auto;
	height: 100%;
	
	transition: all 0.2s ease-out;
}
iframe {
	display: block;
	width: 100%;
	height: 100%;
}

a {
	color: #009688;
	transition: all 0.2s ease-out;
}
a:hover {
	color: #4CAF50;
}


.section-header {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	
	text-decoration: none;
	/* Bottom border color is Green */
	border-bottom: 4px solid #4CAF50;
	/* Text color is Black */
	font-size: 18px;
	transition: all 0.2s ease-out;
}
.section-content {
	padding: 0% 2% 0% 2%;
	font-size: 16px;
}
.section-breaker {
	display: block;
	/* Bottom border color is Dark-Gray */
	border-bottom: 3px solid #616161;
	margin-top: 10px;
	margin-bottom: 10px;
}
.subheader {
	padding-top: 10px;
	padding-bottom: 10px;
}
.action {
	/* Button color is Dark-Gray */
	background-color: #616161;
	border: none;
	color: white;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	transition: all 0.2s ease-out;
}
.action:hover {
	/* Button color is Teal */
	background-color: #009688;
	cursor: pointer;
}

.container-label {
	position: relative;
	font-size: 16px;
}
.input-label {
	position: absolute;
	left: 0;
	line-height: 1;
    padding: 12px;
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: 16px;
	
	cursor: text;
}
.input:hover {
	border: 2px solid #009688;
	cursor: text;
}
.input:focus {
	border: 2px solid #87CEEB;
}
.input:focus + .input-label, .input:not(:placeholder-shown) + .input-label {
	transition: transform .25s, opacity .25s ease-in-out;
	transform: translate(1%, -75%) scale(.8);
	transform-origin: 0 0;
	opacity: .5;
}

.input::placeholder {
	color: transparent;
}

@media only screen and (max-width: 600px) {
	.embed.pdf {
		width: 100%;
		height: 75vh;
	}
	img {
		width: 100%;
		height: auto;
	}
	.input {
		width: 100%;
		border: 2px solid #616161;
		padding: 12px;
		margin-top: 16px;
		margin-bottom: 16px;
		resize: vertical;
		font-size: 16px;
		
		transition: 0.2s ease-out;
	}
	textarea {
		width: 100%;
		height: 20vh;
	}
}
@media only screen and (min-width: 600px) {
	.embed.pdf {
		width: 600px;
		height: 75vh;
	}
	img {
		width: 600px;
		height: auto;
	}
	.input {
		width: 100%;
		border: 2px solid #616161;
		padding: 12px;
		margin-top: 16px;
		margin-bottom: 16px;
		resize: vertical;
		font-size: 16px;
		
		background: inherit;
		color: inherit;
		
		transition: 0.1s ease-out;
	}
	textarea {
		width: 100%;
		height: 20vh;
	}
}
@media only screen and (min-width: 768px) {
	.embed.pdf {
		width: 576px;
		height: 75vh;
	}
	img {
		width: 576px;
		height: auto;
	}
	.input {
		width: 75%;
		border: 2px solid #616161;
		padding: 12px;
		margin-top: 16px;
		margin-bottom: 16px;
		resize: vertical;
		font-size: 16px;
		
		transition: 0.1s ease-out;
	}
	textarea {
		width: 75%;
		height: 20vh;
	}
}
@media only screen and (min-width: 992px) {
	.embed.pdf {
		width: 744px;
		height: 75vh;
	}
	img {
		width: 744px;
		height: auto;
	}
	.input {
		width: 75%;
		border: 2px solid #616161;
		padding: 12px;
		margin-top: 16px;
		margin-bottom: 16px;
		resize: vertical;
		font-size: 16px;
		
		transition: 0.1s ease-out;
	}
	textarea {
		width: 75%;
		height: 20vh;
	}
}
@media only screen and (min-width: 1200px) {
	.embed.pdf {
		width: 900px;
		height: 75vh;
	}
	img {
		width: 900px;
		height: auto;
	}
	.input {
		width: 75%;
		border: 2px solid #616161;
		padding: 12px;
		margin-top: 16px;
		margin-bottom: 16px;
		resize: vertical;
		font-size: 16px;
		
		transition: 0.1s ease-out;
	}
	textarea {
		width: 75%;
		height: 20vh;
	}
}
@media only screen and (min-width: 2500px) {
	.embed.pdf {
		width: 900px;
		height: 75vh;
	}
	img {
		width: 900px;
		height: auto;
	}
	.input {
		width: 75%;
		border: 2px solid #616161;
		padding: 12px;
		margin-top: 16px;
		margin-bottom: 16px;
		resize: vertical;
		font-size: 16px;
		
		transition: 0.1s ease-out;
	}
	textarea {
		width: 75%;
		height: 20vh;
	}
}