@charset "ISO-8859-1";
* {
	box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
	overflow: scroll;
}
body {
	background-color: #F1F1F1;
}
iframe {
	display: block;
	width: 100%;
	height: 100%;
	
	border: none;
}

.section-header {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	
	text-decoration: none;
	/* Bottom border color is Green */
	border-bottom: 3px solid #4CAF50;
	/* Text color is Black */
	color: #000;
	font-size: 20px;
	transition: 0.2s;
}
.section-content {
	padding: 0% 2% 0% 2%;
	font-size: 16px;
	color: #000;
}
.section-breaker {
	display: block;
	/* Bottom border color is Dark-Gray */
	border-bottom: 3px solid #616161;
	margin-top: 10px;
	margin-bottom: 10px;
}
.subheader {
	padding-top: 10px;
	padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
	.embed_pdf {
		width: 100%;
		height: 75vh;
	}
}
@media only screen and (min-width: 600px) {
	.embed_pdf {
		width: 600px;
		height: 75vh;
	}
}
@media only screen and (min-width: 768px) {
	.embed_pdf {
		width: 576px;
		height: 75vh;
	}
}
@media only screen and (min-width: 992px) {
	.embed_pdf {
		width: 744px;
		height: 75vh;
}
@media only screen and (min-width: 1200px) {
	.embed_pdf {
		width: 900px;
		height: 75vh;
	}
}
@media only screen and (min-width: 2500px) {
	.embed_pdf {
		width: 1875px;
		height: 75vh;
	}
}