@charset "ISO-8859-1";

* {
	margin: 0px;
	box-sizing: border-box;
}

/* Default row settings */
.row::after {
	margin: 0px;
	content: "";
	clear: both;
	display: table;
}

/* Default page and font settings */
html {
	font-family: Arial, Helvetica, sans-serif;
	transition: all 0.2s ease-out;
}
body {
	height: 100%;
	background-color: #3C3C3C;
	color: #D3D3D3; /* Text color is Light Gray in dark mode */\
	transition: all 0.2s ease-out;
}

.linkedin {
	background: #007bb5;
	color: #FFF;
}
.twitter {
	background: #55ACEE;
	color: #FFF;
}
.github {
	background: #211F1F;
	color: #FFF;
}

.hidden {
	height: 0%;
	width: 0%;
	opacity: 0;
}
