@charset "ISO-8859-1";
* {
	box-sizing: border-box;
}

/* Default row settings */
.row::after {
	content: "";
	clear: both;
	display: table;
}

/* Default page and font settings */
html {
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}
body {
	background-color: #F1F1F1;
	margin: 0 auto;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.content {
	width: 100%;
	height: 100%;
}
.content iframe {
	display: block;
	border: none;
	width: 100%;
	height: 100%;
}

.profile_pic {
	max-width: 100%;
	height: auto;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav li:hover {
	
	/* Right border color is Teal */
	border-right: 12px solid #009688;
	/* Left border color is Teal */
	border-left: 6px solid #009688;
	cursor: pointer;
}
.nav-active {
	/* Left border color is light-blue */
	border-left: 6px solid #87CEEB;
}
.nav-drop-active {
	/* Left border color is light-blue */
	border-left: 6px solid #87CEEB;
	opacity: 1;
}

.footer a:hover {
	/* Background color is Teal */
	background-color: #009688;
	cursor: pointer;
}
.linkedin {
	background: #007bb5;
	color: #FFF;
}
.twitter {
	background: #55ACEE;
	color: #FFF;
}
.github {
	background: #211F1F;
	color: #FFF;
}